<div class="panel panel-primary">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table session-table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr class="session">
            <td>Thomas Banixen</td>
          </tr>
          <tr class="session">
            <td>Thomas Gassmann</td>
          </tr>
          <tr class="session">
            <td>Thomas Claudius Huber</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>